{
  ApplicationName = "Pica";
  ApplicationDescription = "Native RDL report designer for GNUstep and Cocoa";
  ApplicationRelease = "1.0";
  FullVersionID = "1.0.0";
  NSExecutable = "Pica";
  NSPrincipalClass = "NSApplication";
  NSRole = "Editor";
  NSTypes = (
    {
      NSName = "RDLReport";
      NSHumanReadableName = "Report Definition";
      NSUnixExtensions = ( "rdl", "rdlc" );
      NSRole = Editor;
    }
  );
}
