{
  ApplicationName = "RDLDesigner";
  ApplicationDescription = "Native RDL report designer for GNUstep and Cocoa";
  ApplicationRelease = "0.0.0-dev";
  FullVersionID = "0.0.0-dev";
  Authors = ( "Artyom Shalkhakov" );
  URL = "https://github.com/ashalkhakov/RDLKit";
  Copyright = "Copyright (C) 2026 the RDLKit contributors";
  CopyrightDescription = "Released under the GNU Lesser General Public License, version 2.1. Linking RDLKit into a program does not impose the GPL on that program.";
  NSExecutable = "RDLDesigner";
  NSPrincipalClass = "NSApplication";
  NSRole = "Editor";
  NSTypes = (
    {
      NSName = "RDLReport";
      NSHumanReadableName = "Report Definition";
      NSUnixExtensions = ( "rdl", "rdlc" );
      NSRole = Editor;
      NSDocumentClass = RDLDocument;
    }
  );
}
