{
  ApplicationName = "RDLDesigner";
  ApplicationDescription = "Native RDL report designer for GNUstep and Cocoa";
  ApplicationRelease = "0.0.0-dev";
  FullVersionID = "0.0.0-dev";
  NSExecutable = "RDLDesigner";
  NSPrincipalClass = "NSApplication";
  NSRole = "Editor";
  NSTypes = (
    {
      NSName = "RDLReport";
      NSHumanReadableName = "Report Definition";
      NSUnixExtensions = ( "rdl", "rdlc" );
      NSRole = Editor;
      NSDocumentClass = RDLDocument;
    }
  );
}
